@charset "UTF-8";

/* Todas as demais */

/* Typical device breakpoints 

pequenas telas: até 576px
celular: min 576px 
tablet: min 768px and up
desktop: min 922px and up 
grandes telas: min 1200px and up 
*/

@media print {
    body {
        font-family: 'Courier New', Courier, monospace;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: block;}
    #pc {display: none;}
    #tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 922px) /*TABLET*/ {
    body {
        background-color: black;
        background: url(../imagens/back-tablet.jpg);
    }

    #phone {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
}

@media screen and (min-width: 922px) and (max-width: 1200px) /*PC*/ {
    body {
        background-color: black;
        background: url(../imagens/back-pc.jpg);
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: block;}
    #tv {display: none;}
}

@media screen and (min-width: 1200px) /*TV*/ {
    body {
        background-color: black;
        background: url(../imagens/back-tv.jpg);
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: block;}
}